## Machine learning con python

Input(x)-> Comentarios
output(y) -> sentimiento

In [1]:
#codigo para empezar a trabajar, es necesario correr
import pandas as pd
df_review =pd.read_csv('IMDB Dataset.csv')
df_review

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

## desbalanceo de datos

In [2]:
# count origina de datos balanceados
df_review.value_counts('sentiment')

sentiment
negative    25000
positive    25000
dtype: int64

In [3]:
#desbalanceo de datos para ejercicio
df_positivo = df_review[df_review['sentiment'] == 'positive'][:9000]
df_negativo = df_review[df_review['sentiment'] == 'negative'][:1000]

df_review_des = pd.concat([df_positivo,df_negativo])
df_review_des.value_counts('sentiment')

sentiment
positive    9000
negative    1000
dtype: int64

In [6]:
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler()

#metemos la informacion en nuestro RUS, indicamos el input(reviews) y output(sentimiento) 
# el input debe ser un array 2D, por eso usamos doble llave
df_review_bal, df_review_bal['sentiment'] = rus.fit_resample(df_review_des[['review']], df_review_des['sentiment'])
df_review_bal

#nos devuelve un set balanceado de datos, en este caso 1000 positivos y 1000 negativos

                                                 review sentiment
0     Basically there's a family where a little boy ...  negative
1     This show was an amazing, fresh & innovative i...  negative
2     Encouraged by the positive comments about this...  negative
3     Phil the Alien is one of those quirky films wh...  negative
4     I saw this movie when I was about 12 when it c...  negative
...                                                 ...       ...
1995  This movie moved me more than I was expecting,...  positive
1996  This show has an amazing plot with good and re...  positive
1997  I think that most of the folks who have posted...  positive
1998  Highly politically charged drama that, while b...  positive
1999  I first saw this movie at a video store and, b...  positive

[2000 rows x 2 columns]

In [7]:
from sklearn.model_selection import train_test_split

#metemos los datos, el porcentaje de datos para el testing y la semilla de random para poder replicar los resultados
train,test=train_test_split(df_review_bal, test_size=0.33,random_state=42)

In [9]:
train_x, train_y=train['review'], train['sentiment']
test_x, test_y = test['review'], test['sentiment']

# bag of words
minuto 19:30 en el video